<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/common/common::head"></th:block>
	<link rel="stylesheet" href="/css/admin/common.css">
	<style type="text/css">
		#content{
			padding: 50px;
		}
		#sub ul{
			border-top: 2px solid #aaa;
			border-bottom: 1px solid #aaa;
		}
		#sub ul li{
			padding: 0.5em 1em;
		}
		#result dl dd{
			background-color: #e9e9e9;
			padding: 1em;
		}
		#pagging{
			padding: 1em 0;
		}
		#pagging button{
			padding: 0.5em 1em;
			margin: 0 5px;
		}
	</style>
	
	<script type="text/javascript">
		$(function(){
			$(".btn-delete").click(function(){
				var no=$(this).next().val();
				
				$.ajax({
					url: "/admin/visual/"+no,
					type: "delete",
					success: function(){
						location.reload();
					}
				});
				
			});
		});
	</script>
	
</head>
<body>

	<main>
		<h1>관리자 페이지</h1>
		<div class="wrap flex">
			
			<th:block th:insert="/admin/common::menu"/>
			
			<section id="content">
				<h1>내용</h1>
				<div class="wrap">
					<p>비주얼 리스트 페이지</p>
					
					<div id="result">
						<ul class="flex">
							<li>관리번호</li>
							<li>이미지</li>
							<li>타이틀</li>
							<li>링크주소</li>
							<li>관리</li>
						</ul>
						<ul class="flex" th:each="dto : ${list}">
							<li th:text="${dto.no}">관리번호</li>
							<li><img th:src="${dto.fileUrl + dto.fileName}" width="200px"></li>   <!-- src="/images/visual" -->
							<li th:text="${dto.title}">타이틀</li>
							<li th:text="${dto.link}">링크주소</li>
							<li>
								<button class="btn-delete">삭제</button>
								<input class="no" type="hidden" th:value="${dto.no}">
							</li>
						</ul>
					</div>
					
					
				</div>
			</section>
		</div>
	</main>
	
</body>
</html>